html {
  scroll-behavior: auto !important;
  overflow-anchor: none;
}

body {
  overflow-anchor: none;
}


router-outlet ~ * {
  display: block;
}


app-product-detail {
  display: block;
  position: relative;
}

app-homepage {
  display: block;
  position: relative;
}